:root {
  --main-color2: rgb(245, 228, 190);
  --main-color3: rgba(245, 228, 190, 0.2);
}

html, body {
  height: 100%;
  font-family: 'DM Serif Display', serif;
  background-image: linear-gradient(to bottom, rgb(57, 67, 109), rgb(13, 21, 54));
}

body main{
  height: 100%;
  margin: 0;
  display: flex;
  


}

.test{
  background-color:  rgb(62, 81, 167);
}

h1 {
  
  color: var(--main-color2);
  margin: 0;
  text-align: center;
}

.body{
  width: 100vw;
  height:calc(100vh - 10vh);
  
  
}

#simulation-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

#simulation-window {
  border-radius: 25px;
  width: max-content;
  margin: 0;
}

#UI-window {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  padding: 10px;
  padding-left: 20px;
  width: 1008px;

  display: flex;
}

.UI-tab {
  display: flex;
  flex-direction: column;
  width: 33.3%;
  border-left: 1px solid var(--main-color3);
}

.UI-tab h2 {
  margin: 0 auto;
  margin-bottom: 0.5em;

  text-decoration: underline;

  padding: 0;
  color: var(--main-color2);
}

.UI-tab h3 {
  margin: 0em 0.2em;
  padding: 0em 0.2em;
  color: var(--main-color2);
}

.UI-tab input {
  border-radius: 20px;
  border: none;
  outline: none;

  font-family: 'Poppins', sans-serif;
  font-size: 2em;

  margin: 0.2em;
  height: 1em;
  padding: 0.2em;
  padding-left: 15%;
  background-color: rgb(88, 97, 148);
  color: var(--main-color2);
  transition: 0.1s;
}

.UI-tab input:focus {
  transform: translateY(-0.2em);
}

#defaultCanvas0 {
  border-radius: 10px;
  border: 5px solid var(--main-color2);
}