html, body {
    height: 100%;
    font-family: 'DM Serif Display', serif;
  }

  body main{
    height: 100%;
    margin: 0;
    display: flex;
    
    justify-content: center;
  

    align-items: center;
  }
.test{
    height: 10vh;
    background-color:  ; 
   padding-top: 10px;
    top: 0;
}
h1 {
   
    color: rgb(81, 81, 94);
    margin-left: 10px;
  }
.body{
    width: 100vw;
    height:calc(100vh - 10vh);
    justify-content: center;
    align-items: center;


}
