html, body {
    height: 100%;
    font-family: 'DM Serif Display', serif;
  }

  body main{
    height: 100%;
    margin: 0;
    display: flex;
    
    background-image: linear-gradient(to bottom, rgb(57, 67, 109), rgb(13, 21, 54));
    justify-content: center;
  

    align-items: center;
  }
.test{
    height: 10vh;
    background-color:  rgb(62, 81, 167);
    padding-top: 10px;
    top: 0;
}
h1 {
   
    color: rgb(255, 255, 255);
    margin-left: 10px;
  }
.body{
    width: 100vw;
    height:calc(100vh - 10vh);
    justify-content: center;
    align-items: center;


}

#simulation-window {
  border-radius: 25px;
}

#defaultCanvas0 {
  border-radius: 5px;
  border: 2px solid rgb(95, 71, 42)
}